{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing-page{
	height: 50vh;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: center;*/
	/*background-color: #6DCCDE;*/
	/*color:  #fff;*/
	background-image: url(https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	background-posistion: center;
}
#icon {
	width: 30px;
	height: 30px;

}
li{
	list-style-type: none;
}
#gmap-canvas{
	height: 60vh;
	width: 100;
}
. resize {
	width: 100px !important;
	height: 100px !important;
}