{
	padding: :0;
	margin: 0;
	box-sizing: border-box;
}
li{
	list-style-type: none;
	margin: 0 !important;
	font-size: 0.6rem;

}
ul{
	padding: 0 !important;
}
p{
	margin: 0 !important;
	paddimg:  0 !important;
}
.pad-reduce{
	padding: 0 !important;
	margin: 0 !important;
}
a{
	margin: auto;
}